# Basic python introduction

### Data type in python

In [3]:
# 1. integer --> 1, 2, 3
# 2. float --> 1.1, 2.1
# 3. string --> abc, sameer, etc.
# 4. boolean --> True, False
# 5. complex

# --------------------Find other data types apart from the above 4in python

In [4]:
# variable --> these are the place  holders in the code to identify/ store any value in the memory.

# name = 1
# the variable should start with an alphabet or _, it can only contain alphanumeric

In [5]:
value = 3.4
num = 2
yes = True
no = False

In [6]:
# print(value, num)

In [7]:
type(yes)

bool

In [8]:
# Data structure --> a collection of data stored in the memory.
# 1. list
# 2. tuple
# 3. set
# 4. dictionary

# --------------------------------tell any other data structure apart from the avove 4

In [9]:

# list --> collection of similar or different data types in python, unordered, mutable in nature

l = [1,2,3,45,6,7,8,9,765,43,2,2]

In [10]:
type(l)

list

In [11]:
l[11] = 3

In [12]:
l

[1, 2, 3, 45, 6, 7, 8, 9, 765, 43, 2, 3]

In [13]:
l.index(3)

2

In [14]:
l.remove(3)

In [15]:
l.pop()

3

In [16]:
l.append(5)
l

[1, 2, 45, 6, 7, 8, 9, 765, 43, 2, 5]

In [17]:
len(l)

11

In [18]:
l.count(43)

1

In [19]:
n = len(l)
l[n-1]

5

In [20]:
l[-1]

5

In [11]:
# tuple --> collection of similar or different data types in python, unordered, 
# immutable in nature and is fatser as compared to the list

In [12]:
t = (1,2,4,3,5,2,6)

In [91]:
# t[1] = 1
t[2:6]

(4, 3, 5, 2)

In [25]:
# set --> collection of similar of difeerent data types in python, it is ordered, and cannot contain duplicates
# sets are not indexable/ subscriptable, mutable in nature
s = {1,1,2,1,4,3,78,7}

In [26]:
s.remove(7)

In [27]:
s.add(7)

In [28]:
s

{1, 2, 3, 4, 7, 78}

In [ ]:
# Dictionary --> which is in the form of key value pairs,you willhave keys and values.
# it is also mutable in nature, and you can change the values, 
# there will be no duplicates in the keys, but value can be duplicate

In [72]:
d = {1:22, 'a':2, 'c':3.0, 1:23, 2:23}

In [73]:
d.items()

dict_items([(1, 23), ('a', 2), ('c', 3.0), (2, 23)])

In [70]:
d.keys()

dict_keys([1, 'a', 'c'])

In [71]:
d.values()

dict_values([23, 2, 3.0])

In [74]:
d[1] = 34

In [76]:
d['d'] = 0

In [77]:
d

{1: 34, 'a': 2, 'c': 3.0, 2: 23, 'd': 0}

In [30]:
# -------------------------------OPERATORS IN PYTHON ------------------------------------
# 1.+ --> addition
# 2. - --> subtraction
# 3. * ---> multiplicatoin
# 4. / --> division
# 7. % --> remainder
# 8. // --> integer division

# 9. or--> used to check logical or conditions
# 10. and --> usded to check logical and condition

# ---------------------------> any other operators in python apart from the above?

In [35]:
a, b = 8, 3

In [36]:
a+b, a-b, a*b, a/b, a%b, a//b

(11, 5, 24, 2.6666666666666665, 2, 2)

In [37]:
a, b = 'abc', 2

In [82]:

# STRING MUTATION


s = 'my  name is sameer'
s2 = 'my name is sameer'
s3 = """my name is 
sameer"""

In [83]:
s

'my  name is sameer'

In [84]:
s2, s3

('my name is sameer', 'my name is \nsameer')

In [86]:
s4 = s

In [88]:
len(s)

18

In [94]:
# s[0:5] = 'your n'

In [95]:
s

'my  name is sameer'

In [97]:
s = s+ ' kamran'

In [98]:
s

'my  name is sameer kamran'

In [103]:
# s[1:len(s)]

In [105]:
s*3

'my  name is sameer kamranmy  name is sameer kamranmy  name is sameer kamran'

In [ ]:
# CONDITIONAL STATEMENTS in python
# if 
# else
# elif


# if condtion:
#     code st1
# elif  condition:
#     code st2
# else:
#     code st3

In [131]:
a, b, c = 23, 3, 23

In [132]:
if a>b:
    print('a is greatest')
else:
    print('b is greatest')

a is greatest

In [136]:
if a>=b and a>=c:
    print(f'{a} is greatest')
elif c>=a and c>=b:
    print(f'{c} is greatest')
elif b>=a and b>=c:
    print(f'{b} is greatest')
else:
    print('all are equal')

23 is greatest

In [ ]:
# COntrol flow statement --> which control the flow of the code
# 1. LOOPS --> a. for, b. while
# 2. KEYWORDS --> a. break, b. continue, c. pass

In [ ]:
loops --> the code will be repeated or reiterated again and again until the condition is sufficed.



# for --> 
# for i in l:
#     code st1

In [24]:
l = [0,1,1,1,2,3,5,4]
ans = []
for i in l:
#     print(i)
    s = i+1
    ans.append(s)

0
1
1
1
2
3
5
4

In [25]:
print(ans)

[1, 2, 2, 2, 3, 4, 6, 5]

In [28]:
# for i in range(0, 101):
#     if i%2 != 0:
#         print(i)

In [32]:
# while --> whenever there is a condition that we can use to check and loop

# s = 100
# while s>=0:
#     if s%2 ==0:
#         print(s)
#     s -=1 #s = s-1

In [34]:
# continue --> is a keyword which is used inside the loops to skip that particular iteration
# break --> is a keyword which is used to stop the looping, to come out of the loop

# print all the numbers from 1 to 10 and skip 3 and 5
for i in range(1, 11):
    if i in [3, 5]:
        continue
    print(i)

1
2

In [37]:
# pass: is used whenever we have a block of code and we dont want to execute anything insed the block
for i in range(0, 5):
    if i ==1:
        pass
    elif i ==2:
        print(i-1)
    else:
        print(i)

0
1
3
4

In [40]:
# check the odd numbers between 100, 200....500, 200

# for i in range(100, 201):
#     if i % 2 !=0:
#         print(i)

In [44]:
# for i in range(500, 200, -1):
#     if i % 2 !=0:
#         print(i)

In [ ]:
# FUNCTIONS in python: are re-usable piece of code whcih can be called again and  again inside the code

In [ ]:
# 1. function definition --> to define the function and its structure
# 2. function call --> to call function to exectue the code statements inside the funciton

In [ ]:
# function def --->

# def <funcitonname>(<parameters>):
#     code stet
#     return <returnval>


# ans= <funcitonname>(<param>)

In [47]:
def find_odd(start, end, step=1):
    ans = []
    for i in range(start, end, step):
        if i%2 !=0:
            ans.append(i)
    return ans

In [49]:
ans = find_odd(start=101, end=201, step=1)

In [51]:
ans2 = find_odd(start=50000, end=0, step=-1)

In [53]:
# print(ans2)

In [ ]:
# h.w. --> create a function to add 3 numbers

In [ ]:
# program to create a calculator
# args and kwargs for functions