# Basic python introduction

### Data type in python

In [1]:
# 1. integer --> 1, 2, 3
# 2. float --> 1.1, 2.1
# 3. string --> abc, sameer, etc.
# 4. boolean --> True, False


# --------------------Find other data types apart from the above 4in python

In [2]:
# variable --> these are the place  holders in the code to identify/ store any value in the memory.

# name = 1
# the variable should start with an alphabet or _, it can only contain alphanumeric

In [3]:
value = 3.4
num = 2
yes = True
no = False

In [4]:
# print(value, num)

In [5]:
type(yes)

bool

In [6]:
# Data structure --> a collection of data stored in the memory.
# 1. list
# 2. tuple
# 3. set
# 4. dictionary

# --------------------------------tell any other data structure apart from the avove 4

In [7]:

# list --> collection of similar or different data types in python, unordered, mutable in nature

l = [1,2,3,45,6,7,8,9,765,43,2,2]

In [8]:
type(l)

list

In [9]:
l[11] = 3

In [44]:
l

[1, 2, 3, 45, 6, 7, 8, 9, 765, 43, 2, 3]

In [46]:
l.index(3)

2

In [47]:
l.remove(3)

In [51]:
l.pop()

3

In [57]:
l.append(5)
l

[1, 2, 45, 7, 8, 9, 765, 43, 2, 5, 5]

In [59]:
len(l)

11

In [61]:
l.count(43)

1

In [63]:
n = len(l)
l[n-1]

5

In [62]:
l[-1]

5

In [11]:
# tuple --> collection of similar or different data types in python, unordered, 
# immutable in nature and is fatser as compared to the list

In [12]:
t = (1,2,4,3,5,2,6)

In [91]:
# t[1] = 1
t[2:6]

(4, 3, 5, 2)

In [25]:
# set --> collection of similar of difeerent data types in python, it is ordered, and cannot contain duplicates
# sets are not indexable/ subscriptable, mutable in nature
s = {1,1,2,1,4,3,78,7}

In [26]:
s.remove(7)

In [27]:
s.add(7)

In [28]:
s

{1, 2, 3, 4, 7, 78}

In [ ]:
# Dictionary --> which is in the form of key value pairs,you willhave keys and values.
# it is also mutable in nature, and you can change the values, 
# there will be no duplicates in the keys, but value can be duplicate

In [72]:
d = {1:22, 'a':2, 'c':3.0, 1:23, 2:23}

In [73]:
d.items()

dict_items([(1, 23), ('a', 2), ('c', 3.0), (2, 23)])

In [70]:
d.keys()

dict_keys([1, 'a', 'c'])

In [71]:
d.values()

dict_values([23, 2, 3.0])

In [74]:
d[1] = 34

In [76]:
d['d'] = 0

In [77]:
d

{1: 34, 'a': 2, 'c': 3.0, 2: 23, 'd': 0}

In [30]:
# -------------------------------OPERATORS IN PYTHON ------------------------------------
# 1.+ --> addition
# 2. - --> subtraction
# 3. * ---> multiplicatoin
# 4. / --> division
# 7. % --> remainder
# 8. // --> integer division


# ---------------------------> any other operators in python apart from the above?

In [35]:
a, b = 8, 3

In [36]:
a+b, a-b, a*b, a/b, a%b, a//b

(11, 5, 24, 2.6666666666666665, 2, 2)

In [37]:
a, b = 'abc', 2

In [82]:

# STRING MUTATION


s = 'my  name is sameer'
s2 = 'my name is sameer'
s3 = """my name is 
sameer"""

In [83]:
s

'my  name is sameer'

In [84]:
s2, s3

('my name is sameer', 'my name is \nsameer')

In [86]:
s4 = s

In [88]:
len(s)

18

In [94]:
# s[0:5] = 'your n'

In [95]:
s

'my  name is sameer'

In [97]:
s = s+ ' kamran'

In [98]:
s

'my  name is sameer kamran'

In [103]:
# s[1:len(s)]

In [105]:
s*3

'my  name is sameer kamranmy  name is sameer kamranmy  name is sameer kamran'

In [ ]:
# CONDITIONAL STATEMENTS in python
# if 
# else
# elif


# if condtion:
#     code st1
# elif  condition:
#     code st2
# else:
#     code st3

In [131]:
a, b, c = 23, 3, 23

In [132]:
if a>b:
    print('a is greatest')
else:
    print('b is greatest')

a is greatest

In [136]:
if a>=b and a>=c:
    print(f'{a} is greatest')
elif c>=a and c>=b:
    print(f'{c} is greatest')
elif b>=a and b>=c:
    print(f'{b} is greatest')
else:
    print('all are equal')

23 is greatest